<div class="index_div">
  <h2 class="index_h2">The are <span class="index_num_of_contacts"><%= @num_of_contacts %></span> contacts</h2>
  <% Contact.all.each do |contact| %>
    <p>
      <a class="a1" href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %> (<%= contact.email %>)</a> <br />
      <a class="a2" href="/contacts/<%= contact.id %>/edit">Edit</a> <span class="index_span">|</span> <a class="a2" href="/contacts/<%= contact.id %>">Delete</a>
    </p>
  <% end %>
</div>
<footer class="index_footer">
  <p>
    &copy; Bitmaker 2016
  </p>
</footer>
