<div class="index_div">
  <h2 class="index_h2"><%= @contact.first_name %> <%= @contact.last_name %></h2>
  <p><strong>Email:</strong> <%= @contact.email %></p>
  <p><strong>Note:</strong> <br /><br /><%= @contact.note %></p>

  <form class="form1" action='/contacts/<%= @contact.id %>' method='post'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Delete Contact'>
  </form>
</div>
